@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #6f1c1c;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ECDFCC;

    --foreground: #181C14;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
